/**
Base css for the site
 */
/* ./src/index.css */
@tailwind base;
@tailwind components;

@font-face {
    font-family: "Alatsi";
    src: local('Alatsi-Regular'), url(../fonts/Alatsi/Alatsi-Regular.ttf) format('ttf');
}
@font-face {
    font-family: "inter";
    src: local('Inter-Regular'), url(../fonts/inter/Inter-Regular.ttf) format('ttf');
}
@tailwind utilities;
